In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../s9/data/s9.csv')

d1 = df[]

,affinity,type,d1,d2,d3,d4,ds,a1,a2,a3,a4,as,outcome,rank
0,indoor,def,hoshino,Tshiroko,haruka,iori,ayane_shiroko,marina,Tshiroko,shun,hoshino,hibiki_shiroko,1,NaN
1,indoor,def,hoshino,Tshiroko,haruka,iori,ayane_shiroko,iori,hoshino,Tshiroko,haruka,nagisa_shiroko,0,NaN
2,indoor,def,hoshino,Tshiroko,haruka,iori,ayane_shiroko,iori,hoshino,Tshiroko,haruka,saki_shiroko,0,NaN
3,indoor,atk,marina,Tshiroko,shun,hoshino,ayane_shiroko,hoshino,Tshiroko,shun,marina,ayane_shiroko,1,26.0
4,indoor,atk,shun,hoshino,Tshiroko,iori,nagisa_shiroko,hoshino,Tshiroko,marina,iori,hibiki_shiroko,0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,indoor,atk,Tshiroko,marina,shun,hoshino,nagisa_shiroko,marina,iori,Tshiroko,hoshino,ayane_shiroko,1,116.0
330,indoor,atk,marina,Tshiroko,hoshino,iori,nagisa_shiroko,marina,iori,Tshiroko,hoshino,ayane_shiroko,0,116.0
331,indoor,atk,iori,marina,hoshino,Tshiroko,hibiki_shiroko,marina,iori,Tshiroko,hoshino,ayane_shiroko,1,83.0
332,indoor,atk,shun,marina,hoshino,iori,ayane_shiroko,marina,iori,Tshiroko,hoshino,ayane_shiroko,1,62.0
333,indoor,atk,hoshino,Tshiroko,haruka,iori,nagisa_shiroko,marina,iori,Tshiroko,hoshino,ayane_shiroko,0,62.0

In [ ]:
# table of all common strikers and attributes

# want name, def type, atk type, role in field, position, normal attack range, affinity (atk bonus, cover bonus encoded directly)
striker_attributes = pd.DataFrame([
    {'char':''
     }
])

In [ ]:
# table of all common supporters and attributes

In [ ]:
# table of color effectiveness